.feed-buttons {
    width: 100%
}

.feed-individual-button {
    width: 50%;
    background: none;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .feed-individual-button {
        border: 1px solid rgb(70, 70, 70);
    }

    
    .feed-individual-button:hover {
        background-color: #1d1d1d;
    }


    .active-feed {
        font-weight: bold;
        color: white;
    }
    
    .inactive-feed {
        color: rgb(130, 130, 130);
    }

    .feed-individual-button:nth-child(1) {
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.feed-individual-button:nth-child(2) {
    border-right: 0;
    border-right: 0;
    border-top: 0;
}

.button-accent {
    background-color: rgb(29 161 242);
    height: 4px;
    border-radius: 10px;
    width: 80px;
    margin-top: -5px;

}


.feed-button-accents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.load-more-posts-button {
    background: none;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(70, 70, 70);
    height: 70px;
    font-size: 17px;
    color: #4c96d5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    .load-more-posts-button:hover {
        background-color: #1c1c1c;    
    }

.no-posts-found-button {
    text-align: center;
    color: rgb(120,120,120);
    height: 50px;
}

.has-no-post-found-text {
    animation: fade-in-out 3s forwards;
    animation-iteration-count: 1;
}

@keyframes fade-in-out {
    0% {
        transform: translateY(-20px);
        opacity: 0
    }
    10% {
        transform: translateY(0px);
        opacity: 1;
    }
    90% {
        transform: translateY(0px);
        opacity: 1
    }
    100% {
        transform: translateY(-20px);
        opacity: 0
    }
}