.standard-popup-container {
    position: relative;
    background: none;
    margin: 0;
}

.standard-popup {
    border-radius: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 50px;
    bottom: -13px;
    align-items: start;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.standard-popup-offset-top-left {
    left: -250px;
    bottom: 5px;
}

.standard-popup-offset-right {
    left: 0px;
    bottom: -20px
}

.standard-popup-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;

}


    .standard-popup {
        background-color: black;
        box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.5);
        color: white;
    }


.standard-popup-item {
    padding: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.standard-popup-item:hover {
    background-color: #1c1c1c;    
}

.standard-popup-item button {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.standard-popup-item button img {
    width: 30px;
    height: 30px;
}