.individual-reply {
    padding: 20px;
    border-bottom: 1px solid rgb(70,70,70);
    width: 100%;
    min-height: 100px;
    transition: all 0.2s ease-in-out;
}

.individual-reply.not-connected-to-post {
    border-top: 1px solid rgb(70,70,70);
}

.clickable-individual-reply:hover {
  background-color: #141414;
}

.individual-reply-fist-row {
    display: flex;
}

.individual-reply-profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.individual-reply-profile-image:hover {
    filter: brightness(90%);
}

.individual-reply-main-information-container {
    width: 100%;
}



.individual-reply-display-name-text {
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.individual-reply-identifying-name-text {
    color: rgb(120,120,120);
    cursor: pointer;
    margin-right: 5px;
}


.individual-reply-time-since-creation-text {
    color: rgb(120,120,120);
    text-decoration: underline;
}

.individual-reply-text {
    margin: 0;
}


.individual-reply-second-row {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.individual-reply-second-row > button {
    margin-top: 5px;
}
.individual-reply-second-row > button > p {
    margin: 0;
}

.individual-reply-image-container {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;

}

.individual-reply-image-container img {
    max-width: 100%;
}

.mentioned_reply-container {
    border: 1px solid rgb(70,70,70);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}   

.mentioned-reply-container-metadata-row {
    display: flex;
    align-items: center;
    gap: 10px
}

.mentioned-reply-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}

.mentioned-reply-profile-image:hover {
    filter: brightness(90%);
}

.clickable-individual-reply:hover {
    background-color: #141414;
  }
  

.mentioned-reply-container-metadata-row > p {
    margin: 0;
    font-size: 14px;
}


.mentioned-reply-display-name-text {
    font-weight: bold;
    font-size: 15px;
}

.mentioned-reply-identifying-name-text {
    color: rgb(120,120,120);
}

.mentioned-user-verification-check-image {
    width: 20px;
    height: 20px;
}

.mentioned-reply-text {
    font-size: 14px;
    margin: 0;
}

.individual-reply.connected-to-child-reply {
    border-bottom: none;
}

.reply-has-been-deleted {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-has-been-deleted p {
    color: #a66a6a;
}